body{
 font-family: "PT Sans", sans-serif;
 font-size: 16px;
 font-weight: 400;
 color: #898989;

}

header{
background-color: #fcdb08;
padding: 20px 0;
}
.menu{}

.c_nav{}

.logo{

}
.menu ul li a{
	font-weight: 700;
	font-size: 22px;
	color: #010101 !important;
	padding: 0 50px !important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: white !important;
}
.slider{
	background-color: #fcdb08;
	padding-bottom: 100px;
}
.c_id{
	
	bottom: -80px;
	
}
.c_id [data-bs-target] {
   
    width: 15px;
    height: 15px;
   border-radius: 50%;
    cursor: pointer;
  
}
.carousel-indicators .active
 {
    opacity: 1;
}

.t_text{
	margin-top: 50px;
}
.t_text h1{
	font-size: 32px;
	font-weight: 700;
	color: #010101;
}
.t_text h2{
	margin: 20px 0;
	font-size: 20px;
	font-weight: 400;
	color: #313841;
}
.t_text p{
	margin-bottom: 35px;
	color: #555555;
}
.s_icon{}
.s_icon ul li{
	margin-right: 30px !important;
}

.s_icon ul li i{
	font-size: 42px;
	color: #010101;
	transition: .3s;
}
.s_img{}
.s_img img{}
.s_icon ul li i:hover{
	transform: scale(.8);
}
.features{
	padding-top: 100px;
	padding-bottom: 120px;
}
.c_title{}
.c_h1{
	margin-bottom: 15px;
	font-size: 32px;
	font-weight: 700;
	color: #010101;
}
.c_p{
	font-size: 20px;
	color: #313841;
	line-height:28px;
}

.f_icon{}
.f_icon i{
	margin-top: 2px;
	font-size: 50px;
	color: #010101;
	transition: .3s;
}
.f_text{

}

.f_text h2{
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 400;
	color: #010101;
}
.f_text p{
	letter-spacing: 1px;
}
.f_item{
	margin-top: 70px;
}
.f_icon i:hover{
	transform: scale(.8);
}
